@model IEnumerable<Trab001.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastrar produtos</h1>

<p>
    <a role="button" class="btn btn-primary btn-lg" asp-action="Create"><i class="bi bi-plus-lg"></i>Adicionar usuario</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a role="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a role="button" class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a role="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



